.header {
    background-color: $color-primary;
    color: $color-nav-link;
    &__titulo {
        color: $color-nav-link;
        font-family: $font-principal;
        font-size: 32px;
    }
    &__navOrden {
        flex-grow: 1;
    }
    &__navegacion {
        display: flex;
        flex-wrap: wrap; /* por default es nowrap */
        justify-content: flex-end;
        padding: 15px;
    }
}