.portada{
    grid-area: portada;
    display: flex;
    flex-direction: column;
    background-image: url("../recursos/img-principal.jpg");
    height: 100vh;
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
    justify-content: center;
    align-items: center;
    &__titulo {
        color: $color-primary;
        font-family: $font-principal;
        font-size: 3rem;
    }
    &__botones{
        display: flex;
        gap: 1rem;
    }
}

.imagen__destacada{
    grid-area: imagen__destacada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resumen{
    grid-area:resumen;
}