/* Color principal #299DE6
Color secundario #B5B20E
Color para resaltar #E64041
Color botones negativo #0C6499
color boton positivo #5E5D0C
color tarjetas #c8eaff
Color letra #1B1F21*/
/* COLORES */
$color-principal:#299DE6;
$color-secundario:#B5B20E; 
$color-letra-navegacion: white;

/* TIPOS DE LETRA */
$font-principal: Arial;
$font-body: 'Roboto';