/* COLORES */
$color-primary:#299DE6;
$color-secundary:#B5B20E;
$color-accent:  #E64041;
$color-nav-link: white;
$color-button-negative: #0C6499;
$color-button-postive: #5E5D0C;
$color-cards: #c8eaff;
$color-body: #1B1F21;

/* TIPOS DE LETRA */
$font-principal: 'Leckerli One', cursive;
$font-body: 'Roboto', sans-serif;