@import 'variables';
@import 'grid';
@import 'header';
@import 'footer';
@import 'card';
@import 'portada';
@import 'button';
@import 'mediaqueries';

*{
    margin: 0;
    padding: 0
}

body {
    color: $color-body;
    font-family: $font-body;
    font-size: medium;
}


ul {
    list-style-type: none;
}

li {
    padding: 10px;
    a {
        text-decoration: none;
        color: $color-nav-link;  
    }
}


a:hover {
    text-decoration: none;
    color:$color-primary
}
h2 {
    color: $color-primary;
    font-family: $font-principal;
}


.img__conejos {
    height: 500px;
    width: 700px;
}

.form{
    grid-area: form;
    justify-self: center;
    .newsletter {
        &__titulo__grid{
        grid-area: newsletter__titulo;
        }
        &__form {
            display: flex;
            flex-direction: column;
            gap: 0.63rem;
            align-items: center;
        }
    }
}





.position {
    position:fixed;
    width: 50px;
    bottom:0px;
    right: 0px;
}


